@*
    /*
     * Copyright (C) 2017 Naturmuseum St. Gallen
     *  > https://github.com/NaturmuseumStGallen
     *
     * Designed and engineered by Phantasus Software Systems
     *  > http://www.phantasus.ch
     *
     * This file is part of BookingPlatform.
     *
     * BookingPlatform is free software: you can redistribute it and/or modify
     * it under the terms of the GNU General Public License as published by
     * the Free Software Foundation, either version 3 of the License, or
     * (at your option) any later version.
     *
     * BookingPlatform is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
     * GNU General Public License for more details.
     *
     * You should have received a copy of the GNU General Public License
     * along with BookingPlatform. If not, see <http://www.gnu.org/licenses/>.
     */
*@

@model BookingCalendarModel
@using BookingPlatform.Constants
@using BookingPlatform.Models
@using BookingPlatform.Utilities
@using BookingPlatform.Backend.Scheduling

<div id="calendar-container">
    @Html.Hidden("calendar-update-url", Url.Action("UpdateCalendar"))
    @Html.Hidden("calendar-current-date-ticks", Model.CurrentDateTicks)

    @if (Model.ShowEventSelectionMessage)
    {
        <p>@Strings.Public.PleaseSelectEvent</p>
    }
    else
    {
        <table class="calendar">
            <tr>
                <th></th>
                @foreach(var day in Model.Days)
                {
                    <th>
                        @Html.Raw(day.ToLongDateString().Replace(", ", ",<br />"))
                    </th>
                }
            </tr>
            @foreach (var time in Model.Times)
            {
                <tr>
                    <td>
                        @Html.Raw(time.ToString("hh\\:mm"))
                    </td>

                    @foreach (var date in Model.Dates.Where(d => d.Date.IsSameTimeAs(time)).OrderBy(d => d.Date))
                    {
                        var cssClass = date.Status == AvailabilityStatus.Free ? "free" : (date.Status == AvailabilityStatus.Booked ? "booked" : "not-bookable");
                        var title = date.Status == AvailabilityStatus.Free ? date.Date.ToString("f") : (date.Status == AvailabilityStatus.Booked ? Strings.Public.AvailabilityBooked : Strings.Public.AvailabilityNotBookable);
                        var data_booking_date = date.Status == AvailabilityStatus.Free ? date.Date.Ticks.ToString() : string.Empty;
                        var onclick = date.Status == AvailabilityStatus.Free ? "booking.selectDate(this)" : string.Empty;

                        <td class="@cssClass" title="@title" data-ticks="@data_booking_date" onclick="@onclick"></td>
                    }
                </tr>
            }
        </table>
        <div class="calendar-controls">
           @{
               var previousMonthTitle = Model.CanNavigateToPreviousMonth ? Strings.Public.NavigationPreviousMonth : string.Empty;
               var previousMonthClick = Model.CanNavigateToPreviousMonth ? "booking.updateCalendar('" + CalendarUtility.Navigation.PreviousMonth + "')" : string.Empty;
               var previousWeekTitle = Model.CanNavigateToPreviousWeek ? Strings.Public.NavigationPreviousWeek : string.Empty;
               var previousWeekClick = Model.CanNavigateToPreviousWeek ? "booking.updateCalendar('" + CalendarUtility.Navigation.PreviousWeek + "')" : string.Empty;
            }

            <div class="control @(Model.CanNavigateToPreviousMonth ? "active" : "inactive")" title="@previousMonthTitle" onclick="@previousMonthClick">
                &laquo;&laquo;
            </div>
            <div class="control @(Model.CanNavigateToPreviousWeek ? "active" : "inactive")" title="@previousWeekTitle" onclick="@previousWeekClick">
                &laquo;
            </div>
            <div class="control active" title="@Strings.Public.NavigationNextWeek" onclick="booking.updateCalendar('@CalendarUtility.Navigation.NextWeek')">
                &raquo;
            </div>
            <div class="control active" title="@Strings.Public.NavigationNextMonth" onclick="booking.updateCalendar('@CalendarUtility.Navigation.NextMonth')">
                &raquo;&raquo;
            </div>
        </div>
    }
</div>
