@*
    /*
     * Copyright (C) 2017 Naturmuseum St. Gallen
     *  > https://github.com/NaturmuseumStGallen
     *
     * Designed and engineered by Phantasus Software Systems
     *  > http://www.phantasus.ch
     *
     * This file is part of BookingPlatform.
     *
     * BookingPlatform is free software: you can redistribute it and/or modify
     * it under the terms of the GNU General Public License as published by
     * the Free Software Foundation, either version 3 of the License, or
     * (at your option) any later version.
     *
     * BookingPlatform is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
     * GNU General Public License for more details.
     *
     * You should have received a copy of the GNU General Public License
     * along with BookingPlatform. If not, see <http://www.gnu.org/licenses/>.
     */
*@

@model BookingModel
@using BookingPlatform.Constants;
@using BookingPlatform.Models;
@using BookingPlatform.Utilities;

@{
    ViewBag.Title = Strings.Public.PageTitle;
    Layout = "~/Views/Shared/_BookingLayout.cshtml";

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<h1>@Strings.Public.PageTitle</h1>
<hr />
@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <h2>@Strings.Public.Event</h2>

    @Html.DropDownListFor(m => m.EventId, Model.EventListItems, new
    {
        onchange = "booking.updateCalendar('" + CalendarUtility.Navigation.None + "')",
        data_event_id = bool.TrueString
    })
    @Html.ValidationMessageFor(m => m.EventId)

    <h2>@Strings.Public.Date</h2>
    
    <p>@Strings.Public.InputDescriptionDate</p>

    @Html.Partial("_Calendar", Model.CalendarModel)

    @Html.HiddenFor(m => m.DateTicks, new { data_booking_date_ticks = bool.TrueString })
    @Html.ValidationMessageFor(m => m.DateTicks)

    <h2>@Strings.Public.PersonalInformation</h2>

    @Html.LabelFor(m => m.FirstName, Strings.Public.InputLabelFirstName)
    @Html.TextBoxFor(m => m.FirstName)
    @Html.ValidationMessageFor(m => m.FirstName)

    @Html.LabelFor(m => m.LastName, Strings.Public.InputLabelLastName)
    @Html.TextBoxFor(m => m.LastName)
    @Html.ValidationMessageFor(m => m.LastName)

    @Html.LabelFor(m => m.School, Strings.Public.InputLabelSchool)
    @Html.TextBoxFor(m => m.School)
    @Html.ValidationMessageFor(m => m.School)

    @Html.LabelFor(m => m.Address, Strings.Public.InputLabelAddress)
    @Html.TextBoxFor(m => m.Address)
    @Html.ValidationMessageFor(m => m.Address)

    @Html.LabelFor(m => m.ZipCode, Strings.Public.InputLabelZipCode)
    @Html.TextBoxFor(m => m.ZipCode)
    @Html.ValidationMessageFor(m => m.ZipCode)

    @Html.LabelFor(m => m.Town, Strings.Public.InputLabelTown)
    @Html.TextBoxFor(m => m.Town)
    @Html.ValidationMessageFor(m => m.Town)

    @Html.LabelFor(m => m.Canton, Strings.Public.InputLabelCanton)
    @Html.DropDownListFor(m => m.Canton, Model.CantonListItems)
    @Html.ValidationMessageFor(m => m.Canton)

    @Html.LabelFor(m => m.Email, Strings.Public.InputLabelEmail)
    @Html.TextBoxFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email)

    @Html.LabelFor(m => m.Phone, Strings.Public.InputLabelPhone)
    @Html.TextBoxFor(m => m.Phone)
    @Html.ValidationMessageFor(m => m.Phone)

    <h2>@Strings.Public.AdditionalInformation</h2>

    <p>@Strings.Public.BookingMessageGrade</p>

    @Html.LabelFor(m => m.NumberOfKids, Strings.Public.InputLabelNumberOfKids)
    @Html.TextBoxFor(m => m.NumberOfKids, new { placeholder = Strings.Public.InputDescriptionNumberOfKids })
    @Html.ValidationMessageFor(m => m.NumberOfKids)

    @Html.LabelFor(m => m.Grade, Strings.Public.InputLabelGrade)
    @Html.TextBoxFor(m => m.Grade, new { placeholder = Strings.Public.InputDescriptionGrade })
    @Html.ValidationMessageFor(m => m.Grade)

    @Html.LabelFor(m => m.Notes, Strings.Public.InputLabelNotes)
    @Html.TextAreaFor(m => m.Notes, new { rows = 5 })
    @Html.ValidationMessageFor(m => m.Notes)

    @Html.LabelFor(m => m.CaptchaResponse, Strings.Public.InputLabelCaptcha)
    <img alt="captcha" src="data:image/png;base64,@Model.Captcha.ImageData" />
    <input type="text" name="@Html.NameFor(m => m.CaptchaResponse)" />
    @Html.ValidationMessageFor(m => m.CaptchaResponse)

    <input class="bold" type="submit" value="@Strings.Public.Submit" />
}
