@*
    /*
     * Copyright (C) 2017 Naturmuseum St. Gallen
     *  > https://github.com/NaturmuseumStGallen
     *
     * Designed and engineered by Phantasus Software Systems
     *  > http://www.phantasus.ch
     *
     * This file is part of BookingPlatform.
     *
     * BookingPlatform is free software: you can redistribute it and/or modify
     * it under the terms of the GNU General Public License as published by
     * the Free Software Foundation, either version 3 of the License, or
     * (at your option) any later version.
     *
     * BookingPlatform is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
     * GNU General Public License for more details.
     *
     * You should have received a copy of the GNU General Public License
     * along with BookingPlatform. If not, see <http://www.gnu.org/licenses/>.
     */
*@

@using BookingPlatform.Constants;

<!DOCTYPE html>
<html>
    <head>
        <title>@Strings.Admin.BookingPlatform - @ViewBag.Title</title>
        <meta charset="utf-8" />
        <link href="@Url.Content("~/Resources/Style/Admin.css")" rel="stylesheet" type="text/css" />
        <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" >
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.min.js" type="text/javascript"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js" type="text/javascript"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/additional-methods.min.js" type="text/javascript"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
        <script src="@Url.Content("~/Resources/Scripts/Admin.js")" type="text/javascript"></script>
    </head>
    <body>
        <nav>
            <h1>@Strings.Admin.BookingPlatform - @ViewBag.SectionTitle</h1>

            @if (ViewBag.HideMenu != true)
            {
                <ul>
                    <li>@Html.ActionLink(Strings.Admin.Overview.PageTitle, "Overview", "Admin")</li>
                    <li>@Html.ActionLink(Strings.Admin.Calendar.PageTitle, "Calendar", "Admin")</li>
                    <li>@Html.ActionLink(Strings.Admin.BookingOverview.PageTitle, "BookingOverview", "Admin")</li>
                    <li>@Html.ActionLink(Strings.Admin.EventOverview.PageTitle, "EventOverview", "Admin")</li>
                    <li>@Html.ActionLink(Strings.Admin.Settings.PageTitle, "Settings", "Admin")</li>
                    <li><a href="@Url.Action("Logout", "Admin")">@Strings.Admin.Login.LogoutText &#10162;</a></li>
                </ul>
            }
        </nav>
        <main>
            @RenderBody()
        </main>
    </body>
</html>
