@*
    /*
     * Copyright (C) 2017 Naturmuseum St. Gallen
     *  > https://github.com/NaturmuseumStGallen
     *
     * Designed and engineered by Phantasus Software Systems
     *  > http://www.phantasus.ch
     *
     * This file is part of BookingPlatform.
     *
     * BookingPlatform is free software: you can redistribute it and/or modify
     * it under the terms of the GNU General Public License as published by
     * the Free Software Foundation, either version 3 of the License, or
     * (at your option) any later version.
     *
     * BookingPlatform is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
     * GNU General Public License for more details.
     *
     * You should have received a copy of the GNU General Public License
     * along with BookingPlatform. If not, see <http://www.gnu.org/licenses/>.
     */
*@

@model AdminBookingOverviewModel
@using BookingPlatform.Constants;
@using BookingPlatform.Models;

@{
    ViewBag.SectionTitle = Strings.Admin.BookingOverview.PageTitle;
    ViewBag.Title = Strings.Admin.BookingOverview.PageTitle;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-1000px">
    <h2 class="center">@(Strings.Admin.BookingOverview.Overview + " " + Model.FirstDayOfMonth.ToString("y"))</h2>
    <div class="center">
        @using (Html.BeginForm("BookingOverview", "Admin", FormMethod.Post))
        {
            @Html.DropDownListFor(m => m.Month, Model.MonthList)
            @Html.ValidationMessageFor(m => m.Month)

            @Html.DropDownListFor(m => m.Year, Model.YearList)
            @Html.ValidationMessageFor(m => m.Year)

            <input type="submit" value="@Strings.Admin.Refresh" />
        }
    </div>
    <div class="booking-overview">
        <div class="header">
            <div>@Strings.Admin.BookingOverview.TableHeadingDate</div>
            <div>@Strings.Admin.BookingOverview.TableHeadingEvent</div>
            <div>@Strings.Admin.BookingOverview.TableHeadingName</div>
            <div>@Strings.Admin.BookingOverview.TableHeadingSchool</div>
            <div>@Strings.Admin.BookingOverview.TableHeadingTown</div>
            <div>@Strings.Admin.BookingOverview.TableHeadingBookingState</div>
            <div></div>
        </div>
        @foreach(var booking in Model.Bookings.OrderBy(b => b.Date))
        {
            <div class="booking">
                <div>@booking.Date.ToString("ddd d. MMMM yyyy HH:mm")</div>
                <div>@booking.Event.Name</div>
                <div>@(booking.LastName + ", " + booking.FirstName)</div>
                <div>@booking.School</div>
                <div>@booking.Town</div>
                <div>@(booking.IsActive ? Strings.Admin.BookingOverview.Active : Strings.Admin.BookingOverview.Cancelled)</div>
                <div>@Html.ActionLink(Strings.Admin.BookingOverview.EditBooking, "BookingDetails", new { booking.Id })</div>
            </div>
        }
    </div>
    <h2>@Strings.Admin.ActionsTitle</h2>
    <ul>
        <li>@Html.ActionLink(Strings.Admin.BookingOverview.NewBooking, "BookingDetails")</li>
    </ul>
</div>
