@*
    /*
     * Copyright (C) 2017 Naturmuseum St. Gallen
     *  > https://github.com/NaturmuseumStGallen
     *
     * Designed and engineered by Phantasus Software Systems
     *  > http://www.phantasus.ch
     *
     * This file is part of BookingPlatform.
     *
     * BookingPlatform is free software: you can redistribute it and/or modify
     * it under the terms of the GNU General Public License as published by
     * the Free Software Foundation, either version 3 of the License, or
     * (at your option) any later version.
     *
     * BookingPlatform is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
     * GNU General Public License for more details.
     *
     * You should have received a copy of the GNU General Public License
     * along with BookingPlatform. If not, see <http://www.gnu.org/licenses/>.
     */
*@

@model AdminEventOverviewModel
@using BookingPlatform.Constants;
@using BookingPlatform.Models;

@{
    ViewBag.SectionTitle = Strings.Admin.EventOverview.PageTitle;
    ViewBag.Title = Strings.Admin.EventOverview.PageTitle;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-1000px">
    @Html.Hidden("display-order-update-url", Url.Action("SaveEventDisplayOrder"))
    <h2>@Strings.Admin.EventOverview.Events</h2>
    <div class="event-overview">
        <div class="header">
            <div>@Strings.Admin.EventOverview.Id</div>
            <div>@Strings.Admin.EventOverview.Name</div>
            <div></div>
        </div>
        <ul id="sortable-events">
            @foreach (var @event in Model.Events)
            {
                <li class="ui-state-default event" id="@(@event.Id)">
                    <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                    <div>
                        <div>@(@event.Id)</div>
                        <div>@(@event.Name)</div>
                        <div>@Html.ActionLink(Strings.Admin.Edit, "EventDetails", new { @event.Id })</div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <h2>@Strings.Admin.ActionsTitle</h2>
    <ul>
        <li>@Html.ActionLink(Strings.Admin.EventOverview.NewEvent, "EventDetails")</li>
        <li><a id="js-submitEventDisplayOrder" href="#">@Strings.Admin.EventOverview.DisplayOrder</a></li>
    </ul>
</div>
