@*
    /*
     * Copyright (C) 2017 Naturmuseum St. Gallen
     *  > https://github.com/NaturmuseumStGallen
     *
     * Designed and engineered by Phantasus Software Systems
     *  > http://www.phantasus.ch
     *
     * This file is part of BookingPlatform.
     *
     * BookingPlatform is free software: you can redistribute it and/or modify
     * it under the terms of the GNU General Public License as published by
     * the Free Software Foundation, either version 3 of the License, or
     * (at your option) any later version.
     *
     * BookingPlatform is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
     * GNU General Public License for more details.
     *
     * You should have received a copy of the GNU General Public License
     * along with BookingPlatform. If not, see <http://www.gnu.org/licenses/>.
     */
*@

@model AdminEventOverviewModel
@using BookingPlatform.Constants;
@using BookingPlatform.Models;

@{
    ViewBag.SectionTitle = Strings.Admin.EventOverview.PageTitle;
    ViewBag.Title = Strings.Admin.EventOverview.PageTitle;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-1000px">
    <h2>@Strings.Admin.EventOverview.Events</h2>
    <div class="event-overview">
        <div class="header">
            <div>@Strings.Admin.EventOverview.Id</div>
            <div>@Strings.Admin.EventOverview.Name</div>
            <div></div>
        </div>
        @foreach (var @event in Model.Events)
        {
            <div class="event">
                <div>@(@event.Id)</div>
                <div>@(@event.Name)</div>
                <div>@Html.ActionLink(Strings.Admin.EventOverview.Edit, "EventDetails", new { @event.Id })</div>
            </div>
        }
    </div>

    <h2>@Strings.Admin.EventOverview.EventGroups</h2>
    <div class="event-group-overview">
        <div class="header">
            <div>@Strings.Admin.EventOverview.Name</div>
            <div>@Strings.Admin.EventOverview.Events</div>
            <div></div>
        </div>
        @foreach (var group in Model.EventGroups)
        {
            <div class="event-group">
                <div>@group.Name</div>
                <div class="events">
                    @foreach (var @event in group.Events)
                    {
                        <div>@(@event.Id)</div>
                    }
                </div>
                <div>@Html.ActionLink(Strings.Admin.EventOverview.Edit, "EventGroupDetails", new { group.Id })</div>
            </div>
        }
    </div>

    <h2>@Strings.Admin.ActionsTitle</h2>
    <ul>
        <li>@Html.ActionLink(Strings.Admin.EventOverview.NewEvent, "EventDetails")</li>
        <li>@Html.ActionLink(Strings.Admin.EventOverview.NewEventGroup, "EventGroupDetails")</li>
    </ul>
</div>
