@*
    /*
     * Copyright (C) 2017 Naturmuseum St. Gallen
     *  > https://github.com/NaturmuseumStGallen
     *
     * Designed and engineered by Phantasus Software Systems
     *  > http://www.phantasus.ch
     *
     * This file is part of BookingPlatform.
     *
     * BookingPlatform is free software: you can redistribute it and/or modify
     * it under the terms of the GNU General Public License as published by
     * the Free Software Foundation, either version 3 of the License, or
     * (at your option) any later version.
     *
     * BookingPlatform is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
     * GNU General Public License for more details.
     *
     * You should have received a copy of the GNU General Public License
     * along with BookingPlatform. If not, see <http://www.gnu.org/licenses/>.
     */
*@

@model AdminRuleDetailsModel
@using BookingPlatform.Constants;
@using BookingPlatform.Models;

@{
    ViewBag.SectionTitle = Strings.Admin.Settings.PageTitle;
    ViewBag.Title = Model.IsNew ? Strings.Admin.RuleDetails.PageTitleNew : Strings.Admin.RuleDetails.PageTitleEdit;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<div class="content-1000px">
    <h2>@ViewBag.Title @Strings.Admin.GetRuleTypeName(Model.Type.Value)</h2>
    <h3>@Strings.Admin.RuleDetails.Description</h3>
    <p>@Model.GetDescription()</p>
    <p>@Strings.Admin.RuleDetails.Descriptions.PriorityNote</p>
    <h3>@Strings.Admin.RuleDetails.Configuration</h3>

    @using (Html.BeginForm("RuleDetails", "Admin", FormMethod.Post, new { @class = "big" }))
    {
        @Html.HiddenFor(m => m.Type)

        if (!Model.IsNew)
        {
            @Html.HiddenFor(m => m.RuleId)
        }

        @Html.LabelFor(m => m.Name, Strings.Admin.RuleDetails.InputLabelName)
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)

        @Html.EditorFor(m => m)

        <div class="inline-block">
            <input type="submit" value="@Strings.Admin.Save" />

            @if (!Model.IsNew)
            {
                @(" - ") @Html.ActionLink(Strings.Admin.Delete, "DeleteRule", new { id = Model.RuleId }, new { data_safety_message = Strings.Admin.SafetyMessage })
            }
        </div>
    }
</div>



