@*
    /*
     * Copyright (C) 2017 Naturmuseum St. Gallen
     *  > https://github.com/NaturmuseumStGallen
     *
     * Designed and engineered by Phantasus Software Systems
     *  > http://www.phantasus.ch
     *
     * This file is part of BookingPlatform.
     *
     * BookingPlatform is free software: you can redistribute it and/or modify
     * it under the terms of the GNU General Public License as published by
     * the Free Software Foundation, either version 3 of the License, or
     * (at your option) any later version.
     *
     * BookingPlatform is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
     * GNU General Public License for more details.
     *
     * You should have received a copy of the GNU General Public License
     * along with BookingPlatform. If not, see <http://www.gnu.org/licenses/>.
     */
*@

@model AdminSettingsModel
@using System.Globalization;
@using BookingPlatform.Constants;
@using BookingPlatform.Models;

@{
    ViewBag.SectionTitle = Strings.Admin.Settings.PageTitle;
    ViewBag.Title = Strings.Admin.Settings.PageTitle;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-1000px">
    <h2>@Strings.Admin.Settings.GlobalSettings</h2>
    <h3>@Strings.Admin.Settings.AdminPassword</h3>
    @using (Html.BeginForm("UpdatePassword", "Admin", FormMethod.Post, new { @class = "inline-block" }))
    {
        <span>@Strings.Admin.Settings.ChangePassword</span>
        <input type="text" name="password" />
        <input type="submit" value="@Strings.Admin.Save" data-safety-message="@Strings.Admin.SafetyMessage" />
    }
    <h3>@Strings.Admin.Settings.BookingTimes</h3>
    <table>
        <thead>
            <tr>
                <th class="align-left">@Strings.Admin.Settings.Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var time in Model.Times.OrderBy(t => t.Value))
            {
                <tr>
                    <td>@time.Value.ToString("hh\\:mm")</td>
                    <td class="align-right">
                        @Html.ActionLink(Strings.Admin.Delete, "DeleteTime", new { time.Id }, new { data_safety_message = Strings.Admin.SafetyMessage })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @using (Html.BeginForm("NewTime", "Admin"))
    {
        <span>@Strings.Admin.Settings.AddNewTime</span>
        <input type="text" name="time" />
        <input type="submit" value="@Strings.Admin.Save" />
    }
    <hr />
    <h2>@Strings.Admin.Settings.RuleOverview</h2>
    <table>
        <thead>
            <tr>
                <th class="align-left">@Strings.Admin.Settings.RuleName</th>
                <th class="align-left">@Strings.Admin.Settings.RuleType</th>
                <th class="align-left">@Strings.Admin.Settings.RuleSettings</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rule in Model.Rules)
            {
                <tr>
                    <td>@rule.Name</td>
                    <td>@Strings.Admin.GetRuleTypeName(rule.Type)</td>
                    <td>@Model.GetRuleDetails(rule)</td>
                    <td class="align-right">@Html.ActionLink(Strings.Admin.Edit, "RuleDetails", new { rule.RuleId })</td>
                </tr>}
        </tbody>
    </table>
    @using (Html.BeginForm("RuleDetails", "Admin", FormMethod.Get))
    {
        <span>@Strings.Admin.Settings.CreateNewRule</span>
        @Html.DropDownList("type", Model.RuleTypes)
        <input type="submit" value="@Strings.Admin.Create" />
    }
    <hr />
    <h2>@Strings.Admin.Settings.EmailConfiguration</h2>
    <h3>@Strings.Admin.Settings.Recipients</h3>
    <table>
        <thead>
            <tr>
                <th class="align-left">@Strings.Admin.Settings.Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipient in Model.Recipients)
            {
                <tr>
                    <td>@recipient.Address</td>
                    <td class="align-right">
                        @Html.ActionLink(Strings.Admin.Delete, "DeleteRecipient", new { recipient.Id }, new { data_safety_message = Strings.Admin.SafetyMessage })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @using (Html.BeginForm("NewRecipient", "Admin"))
    {
        <span>@Strings.Admin.Settings.AddNewRecipient</span>
        <input type="email" name="email" />
        <input type="submit" value="@Strings.Admin.Save" />
    }
    <hr />
    <h2>@Strings.Admin.Settings.TextConfiguration</h2>
    <p>@Strings.Admin.Settings.TextConfigurationInfo</p>
    <ul>
        @foreach (var info in Strings.Admin.Settings.MarkdownInfos)
        {
            <li><span class="bold">@info.Key</span> &nbsp;&nbsp; → &nbsp;&nbsp; <span class="italic">@info.Value</span></li>
        }
    </ul>
    @using (Html.BeginForm("UpdateTextContent", "Admin", FormMethod.Post, new { @class = "big" }))
    {
        <h3>@Strings.Admin.Settings.EmailContent</h3>
        <label for="emailSubject">@Strings.Admin.Settings.EmailSubject</label>
        <input name="emailSubject" type="text" value="@Model.EmailSubject" />
        <label for="emailContent">@Strings.Admin.Settings.Content</label>
        <textarea class="wide" name="emailContent" rows="20">@Model.EmailContent</textarea>
        <h3>@Strings.Admin.Settings.ConfirmationPageContent</h3>
        <label for="pageContent">@Strings.Admin.Settings.Content</label>
        <textarea class="wide" name="pageContent" rows="20">@Model.ConfirmationPageContent</textarea>
        <input type="submit" value="@Strings.Admin.Save" />
    }
    <hr />
    <h3>@Strings.Admin.Settings.DynamicContent</h3>
    <p>@Strings.Admin.Settings.DynamicContentDescription</p>
    <table>
        <thead>
            <tr>
                <th class="align-left">@Strings.Admin.Settings.TextContentKey</th>
                <th class="align-left">@Strings.Admin.Settings.TextContentValue</th>
                <th class="align-left">@Strings.Admin.Settings.TextContentDisplayDay</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var content in Model.TextContent)
            {
                <tr>
                    <td>@content.Key</td>
                    <td>@content.Value</td>
                    <td>@(content.DisplayDay.HasValue ? DateTimeFormatInfo.CurrentInfo.GetDayName(content.DisplayDay.Value) : Strings.Admin.Settings.DisplayAlways)</td>
                    <td class="align-right">
                        @Html.ActionLink(Strings.Admin.Delete, "DeleteTextContent", new { content.Id }, new { data_safety_message = Strings.Admin.SafetyMessage })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @using (Html.BeginForm("NewTextContent", "Admin", FormMethod.Post, new { @class = "big" }))
    {
        <label for="key">@Strings.Admin.Settings.TextContentKey</label>
        <input type="text" name="key" />
        <label for="value">@Strings.Admin.Settings.TextContentValue</label>
        <textarea class="wide" name="value" rows="3"></textarea>
        <label for="displayday">@Strings.Admin.Settings.TextContentDisplayDay</label>
        @Html.DropDownList("displayday", Model.DisplayDayListItems)
        <input type="submit" value="@Strings.Admin.Save" />
    }
</div>
